<h1>Our Blog</h1>

<% @posts.each do |post| %>    <!-- loop through posts. posts is a hash that is retrieved from the datasbe in the ./app/controllers/post_controller.rb in the index action method.-->
	<h2> <%= post.title %> </h2>
	<p> <%= post.content %></p>
	<hr/>
<% end %>      <!-- close the loop block-->