<!DOCTYPE html>
<html>  <!--All of our views will conform to this layout structure.-->
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>    <!--This means whatever is in our view will be output in this location in the layout file.-->

</body>
</html>
